################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/VideoEditor/bin/Debug/output.mp4
/VideoEditor/bin/Debug/output_1.mp4
/VideoEditor/bin/Debug/25.mp4
/VideoEditor/bin/Debug/25TEMP_MPY_wvf_snd.mp3
/VideoEditor/bin/Debug/previewFrame.png
